<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="DatabaseServiceSoap">
					<security mode="Transport" />
				</binding>
				<binding name="DatabaseServiceSoap1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://localhost:44332/DatabaseService.asmx"
                binding="basicHttpBinding" bindingConfiguration="DatabaseServiceSoap"
                contract="DatabaseService.DatabaseServiceSoap" name="DatabaseServiceSoap" />
		</client>
	</system.serviceModel>
</configuration>